@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.heroStyle {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.li-award {
  margin: 14px 0;
    padding: 14px 24px;
    background: rgb(178 173 173 / 19%);
    border-radius: 10px;
    border-left: 4px solid #4b3ee4;
    text-align: left;
}



@media only screen and (max-height: 800px) and (orientation: portrait) {
  .heroStyle {
    min-height: 60vh !important;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
  }

  section.hero-section {
    height: 80vh !important;
  }

  .hero-content {
    padding-top: 4rem !important;
  }

  .hero-title {
    font-size: 3rem !important;
  }
  
}

/* 1179×2556 pixels at 460ppi / For iPhone 14 Pro, iPhone 15 and iPhone 15 Pro 
@media only screen 
    and (width: 393px) 
    and (height: 852px) 
    and (-webkit-device-pixel-ratio: 3) {
      .heroStyle {
        min-height: 60vh !important;
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
      }
    
      section.hero-section {
        height: 60vh !important;
      }
    
      .hero-content {
        padding-top: 4rem !important;
      }
    
      .hero-title {
        font-size: 3rem !important;
      }
      .h-[600px]{
        height: 660px;
      }
     } */
