@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.heroStyle {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media only screen and (min-height: 800px) and (orientation: portrait) {
  .heroStyle {
    min-height: 60vh !important;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
  }

  section.hero-section {
    height: 60vh !important;
  }

  .hero-content {
    padding-top: 4rem !important;
  }

  .hero-title {
    font-size: 3rem !important;
  }
}
